.marquee {
  overflow: hidden;
  padding: 20px 0;
}

.marqueeContent {
  display: flex;
  animation: scroll 60s linear infinite;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marqueeContent:hover {
  animation-play-state: paused;
}
